.banner{
    background:url("https://image.popbela.com/content-images/post/20240803/2713b819e635d187e6728e2a64a085ea.png?width=750&format=webp&w=750") 
    no-repeat center center;
    background-size: cover ;
    padding-top: 25% ;
    padding-bottom: 25% ;
    color: #fff;
}

.lingkaran{
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #090909;
}

.lingkaran i{
    position: relative;
    top: 30px;
}

.crop-img{
    object-fit: cover;
}

.tim img{
    width: 250px;
    border: 10px solid #f7f3f3;

}

a.social{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #2a2929;
    line-height: 40px ;
}

.client img{
    height: auto;
    max-height: 50px;
}

#kontak {
  background: url("https://910.id/cdn/shop/files/MAIN_BANNER_ALL_COLOR_MOBILE.png?v=1748399012&width=1500") no-repeat
    center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}

.tim{
    background: url("https://static.vecteezy.com/system/resources/thumbnails/059/117/144/small_2x/female-runner-silhouette-running-over-urban-background-with-palm-trees-and-sunset-sky-photo.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #fff;
}